body, html {
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color:teal;
}

header {
    height: 15%;
}

nav {
    text-align: center;
}

p {
    font-size: larger;
    color: black;
}

h1 {
    text-align: center;
    color:gold;
}

form{
    text-align: center;
}

fieldset {
    border: 0;
}

#submit {
    width: 168px;
}
